<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CentSynth</title>
        <meta name="viewport" content="with=device-width, intial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/getstarted.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/861728579d.js" crossorigin="anonymous"></script>

    </head>
    <body>
        
            <div class="navbar">
                <div class="icon">
                    <img src="{{ url_for('static', filename='images/3.png.png') }}" class="logo">
                    <div class="menu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="GetStarted.html">Get Started</a></li>
                        </ul>
                    </div>
                </div>
            </div>


        <!-- .........footer............ -->
        <section class="footer">
            <h1 class="logo1">CentSynth</h1>
            <p class="terms">©2022 Centella scientific private limited. All Rights reserved</p>
            <div class="social-links">
                <a href="https://www.facebook.com/centella.scientific1"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/centella.scientific/"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/centellascient1"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/centellascientific/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.youtube.com/channel/UCAdelmyMPBzu2WqiHc6Mh8w"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="links">
                <a href="index.html">Home</a>
                <a href="#">AboutUs</a>
                <a href="GetStarted.html">GetStarted</a>
            </div>

        </section>
        <!-- ...............main............. -->
        <section class="main" >
            <h1>The Smiles rearrangement is an organic reaction and a rearrangement reaction named after british chemist Samuel Smiles. It is an intramolecular nucleophilic aromatic substitution .</h1>
            <div class="shade"></div>
            <div class="form">
                <input type="text" name="write the smiles reaction here!" required placeholder="write the smiles reaction!">
                <label for="write the smiles reaction here!" class="label-name">
                    <span class="content-name">Enter the smiles reaction here!</span>
                </label>

            </div>
            <div class="submit">
                <form action="/">
                    
                    <input type="submit" value="Submit"><br>
            </div>
        
            
            


        </section>
     
     
     
     

   
   

   

   






    

    </body>
</html> 